.container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10% 3%;
}

.section-1 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.business-success-celebration {
  width: 80%;
}

.container .section-1 h3 {
  color: var(--primary-10, #2851e3);
  font-size: 100px;
}
