.container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10% 3%;
}
main{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-status{
  color: rgba(40, 81, 227, 1);
  font-weight: 600;
  font-size: 400%;
}

.finished-cart-container{
  width: 90%;
  display: flex;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
}

.finished-cart-container img{
}



@media (max-width: 972px) {
  
  
}