.container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10% 3%;
}

.section-1 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.business-success-celebration {
  width: 80%;
}

.container .section-1 h3 {
  color: var(--primary-10, #2851e3);
  font-size: 100px;
}

/* Media Query untuk Ponsel Kecil */
@media (max-width: 576px) {
  .container .section-1 h3 {
    font-size: 30px;
  }

  .section-1 {
    flex-direction: column;
  }
}

/* Media Query untuk Ponsel Besar hingga Tablet Kecil */
@media (min-width: 577px) and (max-width: 780px) {
  .container .section-1 h3 {
    font-size: 50px;
  }
}

/* Media Query untuk Tablet Besar hingga Desktop Kecil */
@media (min-width: 781px) and (max-width: 972px) {
  .container .section-1 h3 {
    font-size: 70px;
  }
}
