html{
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "poppins", sans-serif;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #2851e3;
}

.list-navbar {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  gap: 30px;
}

.list-navbar a {
  text-decoration: none;
  color: #ffffff;
}

.list-navbar a:hover {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}

.button-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btn-login {
  background-color: #ffffff;
  border: none;
  border-radius: 6px;
  color: #2851e3;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.btn-signup {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.dropdown-menu{
  display: none;
  height: 0px;
  position: absolute;
  right: 2rem;
  top: 70px;
  width: 300px;
  background: #ffffff;
  backdrop-filter: blur(5px);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dropdown-menu.open{
  height: 350px;  
}

.dropdown-menu a {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #2851e3;
}

.toggle-button{
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none ;
}


@media (max-width: 972px) {
  .list-navbar {
    display: none;
  }
  .btn-login {
    display: none;
  }
  .btn-signup {
    display: none;
  }

  .toggle-button {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }
}

@media (width <= 576px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }
}
