html{
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "poppins", sans-serif;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #2851e3;
}

.list-navbar {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  gap: 30px;
}

.list-navbar a {
  text-decoration: none;
  color: #ffffff;
}

.list-navbar a:hover {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}

.icon-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.icon-header img{
  width: 20px;
  height: 20px;
}

.icon-header .profile{
  background-color: white;
  padding: 10px;
  border-radius: 100%;
}

.btn-login {
  background-color: #ffffff;
  border: none;
  border-radius: 6px;
  color: #2851e3;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.btn-signup {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.dropdown-menu{
  display: none;
  height: 0px;
  position: absolute;
  right: 2rem;
  top: 70px;
  width: 300px;
  background: #ffffff;
  backdrop-filter: blur(5px);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dropdown-menu.open{
  height: 380px;  
}

.dropdown-menu a {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #2851e3;
}

.toggle-button{
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none ;
}

.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5% 15%;
  background-color: #2851e3;
  color: #fff;
  gap: 50px;
}

.footer-container .footer-container-up{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 180px;
  padding-bottom: 47px;
}

.footer-container .footer-container-up .product{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-container .footer-container-up .product p{
  color: var(--white, #ffffff91);
}

.footer-container .footer-container-up .information{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-container .footer-container-up .information a{
  text-decoration: none;
  color: var(--white, #ffffff91);
}

.footer-container .footer-container-up .company{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-container .footer-container-up .company p{
  text-decoration: none;
  color: var(--white, #ffffff91);
}

.footer-container .footer-container-up .subscribe{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}



.footer-container .footer-container-up .subscribe .subscribe-input{
  display: flex;
  flex-direction: row;
}

.footer-container .footer-container-up .subscribe .subscribe-input input{
  text-decoration: none;
  border-radius: 6px 0px 0px 6px;
  border: none;
  outline: none;
}

.footer-container .footer-container-up .subscribe .subscribe-input img{
  padding: 13px 13px;
  background-color: #3563E9;
  border-radius: 0px 6px 6px 0px;
}

.footer-container .footer-container-up .subscribe p{
  color: var(--white, #ffffff91);
}

.footer-container .footer-container-bottom{
  padding-top: 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-container .terms-privacy-cookies{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}


@media (max-width: 972px) {
  .list-navbar {
    display: none;
  }
  .icon-header {
    display: none;
  }

  .toggle-button {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }
}

@media (width <= 576px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }
}
