*{
  margin: 0px;
  padding: 0px;
  font-family: 'poppins', sans-serif;
}


.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #2851E3;
}


.list-navbar {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  gap: 30px;
}

.list-navbar a{
  color: #ffffff;
}

.list-navbar a:hover{
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  transform : scale(1.05);
}

.btn-login {
  background-color: #ffffff;
  border: none;
  border-radius: 6px;
  color: #2851E3;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.btn-signup {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}


.dropdown_menu .button-dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.dropdown_menu .btn-login-dropdwon {
  background-color: #ffffff;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.dropdown_menu .btn-signup-dropdown {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}


.toggle-button{
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none ;
}

.dropdown_menu{
  height: 0px ;
  display: none;
  position: absolute;
  right: 2rem;  
  top: 60px;
  width: 300px;
  background-color: #2851E3;
  backdrop-filter: blur(50px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dropdown_menu a{
  color: #ffffff; 
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.dropdown_menu.open{
  height: 330px;
}


@media (max-width: 972px) {
  .list-navbar {
    display: none;
  }
  .btn-login{
    display: none;
  }
  .btn-signup{
    display: none;
  }
  .toggle-button{
    display: block;
  }

  .dropdown_menu{
    display: block;
  }
}