html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
}

.rectangle {
  width: 100%;
  height: 820px;
  position: absolute;
  z-index: -1;
}

.container-section-1 {
  width: 100%;
  padding-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-section-1 .text {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  gap: 20px;
}

.container-section-1 .text h1 {
  font-size: 80px;
  color: #212121;
}

.container-section-1 .button {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container-section-1 .btn-login-section1 {
  background-color: #2851e3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 28px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.container-section-1 .btn-explore-section1 {
  background-color: #fff;
  color: #2851e3;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.section-2{
  display: flex;
  flex-direction: column;
  padding: 20% 0;
}

.section-2 .title-section-2{
  font-size: 40px;
  font-weight: 600;
  color: #212121;
  text-align: center;
}

.section-2 .card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  padding: 0 5%;
  gap: 80px;
}

.section-2 .card{
  display: flex;
  flex-direction: column;

  padding: 5%;
  background-color: #EBEEFF;
  width: 490px;
  padding: 10px 50px;
  height: 334px;
}

.section-2 .card .more{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@media (width <= 1460px) {
  .section-1 .text {
    padding-left: 13%;
    padding-right: 0px;
  }
}

@media (width <= 1240px) {
  .section-1 .text {
    padding-top: 13%;
    padding-left: 13%;
    padding-right: 13%;
  }

  .image-study{
    display: none;
  }
}

