html {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
}

.detail-container {
  padding: 2% 0;
}

.detail-container .detail-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 1% 3%;
  padding-right: 4%;
}

.detail-contaienr .detail-title a{
  text-decoration: none;
  cursor: pointer;
}

.detail-container .detail-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3% 3%;
}

.detail-container .detail-body .detail-book {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.detail-container .detail-body .detail-image {
  padding: 1%;
  width: 440px;
  height: 605px;
  border-radius: 20px;
  background: var(--neutral-10, #fff);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  margin-left: 10%;
}

.detail-container .detail-body .detail-book {
  width: 50%;
}

.detail-container .detail-body .detail-book .detail-book-header {
  display: flex;
  flex-direction: column;
}

.detail-container
  .detail-body
  .detail-book
  .detail-book-header
  .detail-book-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail-container
  .detail-body
  .detail-book
  .detail-book-header
  .detail-book-text
  .detail-loan {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  color: red;
  
}

.detail-container .detail-body .detail-book-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  max-height: 150px;
  overflow: hidden; 
  transition: max-height 0.5s ease-out; 
}

.detail-container .detail-body .see-more {
  padding-top: 10px;
  cursor: pointer;
  text-align: right;
  color: #2851e3;
}

.detail-container .detail-body .detail-book-specify-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.detail-container .detail-body .detail-book-specify-wrapper .detail-book-specify-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px
}

.detail-container .detail-body .detail-book-specify-wrapper .detail-book-specify-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px
}

.detail-container .detail-body .detail-book-specify-wrapper .specify-value {
  color: var(--neutral-70, #757575);
}

.detail-container .detail-body .detail-book-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
  align-content: center;
  align-items: center;
}

.detail-container .detail-body .detail-book-footer .detail-book-penalty {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  color: red;
}

.detail-container .detail-body .detail-book-footer .detail-book-button {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10%;
}

.detail-container .detail-body .detail-book-footer .detail-book-button .return {
  border-radius: 5px;
  background: var(--system-grey-200, #eee);
  padding: 3% 10%;
  color: var(--system-grey-500, #9e9e9e);
  border: none;
  cursor: pointer;
}

.detail-container
  .detail-body
  .detail-book-footer
  .detail-book-button
  .penalty {
  border-radius: 5px;
  background: red;
  padding: 3% 10%;
  color: var(--neutral-10, #fff);
  border: none;
  cursor: pointer;
}

.overlay {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #fff;
  padding: 2% 3%;
  width: 25%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal .modal-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  color: #2851e3;
}

.modal .modal-title img{
  cursor: pointer;
}

.modal .payment-form{
  padding-top: 8% ;
}

.modal .payment-form input{
  border-radius: 8px;
  border: 2px solid #c2c2c2;
}

.modal .payment-form .payment-types{
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.modal .payment-form .payment-type input{
  width: 5px;
}


label {
  display: block;
  margin-bottom: 8px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


@media (width <= 1280px) {
  .detail-container .detail-body {
    flex-direction: column;
    gap: 10px;
  }

  .detail-container .detail-body .detail-image {
    text-align: center;
    padding: 1%;
    width: 35%;
    height: 40%;
    margin: 0 auto;
  }

  .detail-container .detail-body .detail-book {
    margin: 2% 10%;
    width: 85%;
  }

  .detail-container .detail-title img{
    width: 6%;
    height: 6%;
  }
}

@media (width <= 768px) {
  .detail-container .detail-title h1{
    font-size: 30px;
  }

  .detail-container .detail-body .detail-book-header .detail-book-text h1{
    font-size: 30px;
  }

  .detail-container .detail-body .detail-book-header .detail-book-text h2{
    font-size: 1px;
  }
}

@media (width <= 530px) {
  .detail-container .detail-title h1{
    font-size: 20px;
  }

  .detail-container .detail-body .detail-book-header .detail-book-text h1{
    font-size: 20px;
  }

  .detail-container .detail-body .detail-book-header h2{
    font-size: 15px;
  }

  .detail-container
  .detail-body
  .detail-book
  .detail-book-header
  .detail-book-text
  .detail-loan {
    width: 40%;
    font-size: 15px;
  }

  .detail-book-description h3{
    font-size: 20px;
  }

  .detail-book-description p{
    font-size: 15px;
  }
  
  .detail-book-specify h3{
    font-size: 20px;
  }

  .detail-book-specify p{
    font-size: 15px;
  }

  .detail-book-footer{
    margin-top: 15%;
  }
}

