.detail-container {
  padding: 2% 0;
}

.detail-container .detail-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin: 2% 3%;
}

.detail-container .detail-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3% 3%;
}

.detail-container .detail-body .detail-book {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.detail-container .detail-body .detail-image {
  padding: 1%;
  width: 440px;
  height: 605px;
  border-radius: 20px;
  background: var(--neutral-10, #fff);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  margin-left: 10%;
}

.detail-container .detail-body .detail-book {
  width: 50%;
}

.detail-container .detail-body .detail-book .detail-book-header {
  display: flex;
  flex-direction: column;
}

.detail-container
  .detail-body
  .detail-book
  .detail-book-header
  .detail-book-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail-container
  .detail-body
  .detail-book
  .detail-book-header
  .detail-book-text
  .detail-loan {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.detail-container .detail-body .detail-book-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  max-height: 150px;
  overflow: hidden; 
  transition: max-height 0.5s ease-out; 
}

.detail-container .detail-body .see-more {
  padding-top: 10px;
  cursor: pointer;
  text-align: right;
  color: #2851e3;
}

.detail-container .detail-body .detail-book-specify-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.detail-container .detail-body .detail-book-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.detail-container .detail-body .detail-book-footer .detail-book-button {
  width: 40%;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: flex-end;
  gap: 10%;
}

.detail-container .detail-body .detail-book-footer .detail-book-button .return {
  border-radius: 5px;
  background: var(--light-primary-origin, #3563e9);
  padding: 3% 10%;
  color: var(--neutral-10, #fff);
}

.detail-container
  .detail-body
  .detail-book-footer
  .detail-book-button
  .penalty {
  border-radius: 5px;
  background: var(--system-grey-200, #eee);
  padding: 3% 10%;
  color: var(--system-grey-500, #9e9e9e);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

@media (width <= 1280px) {
  .detail-container .detail-body {
    flex-direction: column;
    gap: 10px;
  }

  .detail-container .detail-body .detail-book {
    width: 100%;
  }

  .detail-container .detail-body .detail-image {
    margin-left: 1%;
  }
  
  .detail-container .detail-body .detail-image {
    text-align: center;
    padding: 1%;
    width: 35%;
    height: 40%;
  }

  .detail-container .detail-body .detail-book {
    margin: 2% 10%;
    width: 85%;
  }
}


