* {
  margin: 0px;
  padding: 0px;
  font-family: "poppins", sans-serif;
}

.signup-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.signup-container .signup-image {
  width: 50%;
  height: 100vh;
  
}

.signup-container .signup-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0% 10%;
  gap: 15px;
}

.signup-container .signup-input img {
  margin-bottom: 10px;
  width: 307px;
}

.signup-container .signup-input .input{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.signup-container .signup-input .input input{
  border-radius: 5px;
  width: 513px;
  border: 2px solid #C2C2C2;
  padding: 6px 12px;
}

.signup-container .signup-input .input .desc-password{
  font-size: 12px;
}

.signup-container .signup-input .signup-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 25px;
}

.signup-container .signup-input .signup-button button{
  color: white;
  border-radius: 5px;
  padding: 2% 6%;
  background-color: #3563E9;
  border: none;
}

.signup-container .signup-input .have-acc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.signup-container .signup-input .have-acc a {
  text-decoration: none;
  color: #2851E3;
}

